@media all and (max-width: 600px)
{
  #body{
    color: white
  }
  #center{
    width: 100%
  }
  #bouton_acceuil{
    width:100px;
  }
}

@media all and (min-width: 600px)
{
  #body{
    color: white;
  }

  #premiere_barre{
    height: 100px;
    width: 100%;
    background: none;
  }

  #bouton_acceuil{
    max-height: 100%;
    float: left;
  }

  #logo a img{
    max-height: 100px;
  }

  #icone_compte {
    position: relative;
    float: right;
    vertical-align: middle;
  }

  #cercle {
  	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
  	border-radius:500px;
  	background-color:rgba(255, 255, 255, 1);
  	border:2px solid rgba(155.00000596046448, 155.00000596046448, 155.00000596046448, 1);
  	width:69px;
  	height:69px;
  	position:relative;
    line-height: 69px;
  }

  #nom_compte {
  	color:rgba(0, 0, 255, 1);
  	width:50px;
  	height:154px;
  	position:absolute;
  	left:9px;
  	top:0px;
  	font-family:Bebas Neue;
  	text-align:center;
  	font-size:30px;
  	letter-spacing:0;
  }

  #barre_menus{
    padding: 0;
    margin: 0;
    text-align: right;
  }

  #barre_menus li{
    display: inline;
    list-style: none;
  }

  #barre_menus a{
    display: inline-block;
    margin: 0 30px;
  }

  #center{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    background: white;
    width: 100%;
    max-width: 1000px;
  }

  .barre_bas{
    background: #2d2d2d;
    background-blend-mode: multiply;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    display: block;
    margin: 0 0 0 0;
    color: rgb(187, 187, 187);
    text-align: center;

  }

  #centre_barre_bas{
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: auto;
  }

  .bottom-nav {
    padding: 15px 0;
  }

  .bottom-nav li{
    font-weight: 600;
    display: inline-block;
    font-size: 14px;
    padding-right: 22px;
  }

  .bottom-nav a{
    text-decoration: none;
    color: inherit;
    font-family: "Source sans pro", Helvetica;
    font-size: 14px;
    font-weight: 500;
  }
}
