#e0_5 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
#e0_6 { 
	width:368px;
	height:133px;
	position:absolute;
	left:100px;
	top:13px;
}
#ei0_6_0_80 a img { 
	width:auto;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
#e0_7 { 
	width:538px;
	height:712px;
	position:absolute;
	left:27px;
	top:239px;
}
#e0_8 { 
	width:125px;
	height:193px;
	position:absolute;
	left:397px;
	top:510px;
	background-image:url(images/eimages.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e0_9 { 
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:538px;
	height:712px;
	position:absolute;
	left:2.842170943040401e-14px;
	top:0px;
}
#e0_10 { 
	color: rgb(58, 58, 58);
	width:382px;
	height:265px;
	position:absolute;
	left:68px;
	top:13px;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
#e0_10 h1{ 
	color:rgba(0, 0, 255, 1);
	font-family:Bebas Neue;
}
#e0_10 p{ 
	color:rgb(70, 70, 70);
	font-size: 25px;
}
#e0_11 { 
	width:1441px;
	height:62px;
	position:absolute;
	left:-1px;
	top:971px;
}
#ei0_11_0_91 { 
	width:1441px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei0_11_0_92 { 
	background-color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:1441px;
	height:62px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:0px;
}
#ei0_11_0_93 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:29px;
	position:absolute;
	left:5.003472328186035px;
	top:10px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#e0_12 { 
	width:538px;
	height:197px;
	position:absolute;
	left:862px;
	top:769px;
	background-image:url(images/esans_titre_50_e1610628911296.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e0_13 { 
	width:603px;
	height:105px;
	position:absolute;
	left:797px;
	top:13px;
	
}
#e0_14 { 
	color:rgba(0, 0, 255, 1);
	width:auto;
	height:58px;
	position:absolute;
	left:247.5px;
	top:0px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	background-color: rgb(255, 255, 255);
	border: none;
}
#e0_14 a{ 
	color:rgba(0, 0, 255, 1);
	width:auto;
	height:58px;
	position:absolute;
	top:0px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	background-color: rgb(255, 255, 255);
	border: none;
	text-decoration:none;

}
#e0_14 a:hover{ 
	color: rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:auto;
	height:58px;
	position:absolute;
	top:0px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	background-color: rgb(255, 255, 255);
	border: none;
	text-decoration:none;
	
}
#e0_15 { 
	color:rgba(0, 0, 255, 1);
	width:auto;
	position:absolute;
	left:300.5px;
	top:57px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:40px;
	background-color: rgb(255, 255, 255);
	border: none;
}
#e0_15 a{ 
	color:rgba(0, 0, 255, 1);
	width: 250px;
	height:auto;
	position:absolute;
	font-family:Bebas Neue;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	background-color: rgb(255, 255, 255);
	border: none;
	text-decoration:none;
}
#e0_15 a:hover{ 
	color:rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width: 250px;
	height:auto;
	position:absolute;
	font-family:Bebas Neue;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
	background-color: rgb(255, 255, 255);
	border: none;
	text-decoration:none;
}
#e0_16 { 
	color:rgba(0, 0, 145.00000655651093, 1);
	width:359px;
	height:43px;
	position:absolute;
	left:0px;
	top:70px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
#e0_17 { 
	width:836px;
	height:466px;
	position:absolute;
	left:588px;
	top:279px;
}
#e0_18 { 
	border:1px solid rgba(165.00000536441803, 165.00000536441803, 165.00000536441803, 1);
	width:836px;
	height:466px;
	position:absolute;
	left:0px;
	top:0px;
}
#e0_19 { 
	width:107px;
	height:167px;
	position:absolute;
	left:51px;
	top:256px;
	background-image:url(images/esans_titre_42_e1610358192483.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e0_20 { 
	color:rgba(0, 0, 255, 1);
	width:597px;
	height:45px;
	position:absolute;
	left:120px;
	top:19px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
#Vidéo1 { 
	width:239px;
	height:134px;
	position:absolute;
	left:520px;
	top:99px;
}
#Vidéo2 { 
	width:239px;
	height:134px;
	position:absolute;
	left:520px;
	top:289px;
}
#e0_23 { 
	color:rgba(0, 0, 255, 0.46666666865348816);
	width:489px;
	height:110px;
	position:absolute;
	left:51px;
	top:144px;
	font-family:AlBayan;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#e0_24 { 
	color:rgba(0, 0, 255, 0.46666666865348816);
	width:344px;
	height:110px;
	position:absolute;
	left:196px;
	top:327px;
	font-family:AlBayan;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#e0_25 { 
	width:227px;
	height:174px;
	position:absolute;
	left:588px;
	top:777px;
}
#e0_26 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	background-color:rgba(255, 255, 255, 1);
	border:3px solid rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:227px;
	height:174px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_27 { 
	color:rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:74px;
	height:29px;
	position:absolute;
	left:68px;
	top:13px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
#e0_28 { 
	width:1399px;
	height:62px;
	position:absolute;
	left:27px;
	top:162px;
}
#ei0_28_0_82 { 
	box-shadow:0px 2px 6px rgba(0, 0, 0, 0.501960813999176);
	width:1399px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei0_28_0_83 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	background-color:rgba(255, 255, 255, 1);
	border:3px solid rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:1399px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#ei0_28_0_84 { 
	color:rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:993px;
	height:48px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:9px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#ei0_28_0_85 { 
	border:3px solid rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:3px;
	height:52px;
	position:absolute;
	left:1004px;
	top:5px;
}



#ei0_28_0_88 { 
	color:rgb(0, 0, 0);
	width:250px;
	height:40px;
	position:absolute;
	left:1020px;
	top:17px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
#ei0_28_0_89 { 
	color:rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
	width:auto;
	height:25px;
	position:absolute;
	left:1280px;
	top:17px;
	font-family:Helvetica;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
	border-radius: 20px;
}
