#e0_44 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
#e0_45 { 
	width:368px;
	height:133px;
	position:absolute;
	left:100px;
	top:13px;
}
#ei0_45_0_80 a img{ 
	width:auto;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
	
}
#e0_46 { 
	width:1399px;
	height:62px;
	position:absolute;
	left:27px;
	top:162px;
}
#ei0_46_0_82 { 
	box-shadow:0px 2px 6px rgba(0, 0, 0, 0.501960813999176);
	width:1399px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei0_46_0_83 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	background-color:rgba(255, 255, 255, 1);
	border:3px solid rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:1399px;
	height:62px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#ei0_46_0_84 { 
	color:rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:993px;
	height:48px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:9px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
#ei0_46_0_85 { 
	border:3px solid rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:3px;
	height:52px;
	position:absolute;
	left:1004px;
	top:5px;
}

#ei0_46_0_88 { 
	color:rgb(0, 0, 0);
	width:250px;
	height:40px;
	position:absolute;
	left:1020px;
	top:12px;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
#ei0_46_0_89 { 
	color:rgba(80.00000283122063, 80.00000283122063, 80.00000283122063, 1);
	width:auto;
	height:25px;
	position:absolute;
	left:1280px;
	top:17px;
	font-family:Helvetica;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
	border-radius: 20px;
}
#e0_47 { 
	width:1387px;
	height:290px;
	position:absolute;
	left:33px;
	top:244px;
}
#e0_48 { 
	background-color:rgba(255, 255, 255, 1);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:1086px;
	height:290px;
	position:absolute;
	left:0px;
	top:0px;
}
#e0_49 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	background-color:rgba(255, 255, 255, 1);
	border:4px solid rgba(65.0000037252903, 117.00000062584877, 5.000000176951289, 1);
	width:280px;
	height:290px;
	position:absolute;
	left:1107px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_50 { 
	color:rgba(73.00000324845314, 131.00000739097595, 7.000000057742, 1);
	width:131px;
	height:58px;
	position:absolute;
	left:1182px;
	top:214px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#e0_51 { 
	color:rgba(107.00000122189522, 185.00000417232513, 16.000000946223736, 1);
	width:806px;
	height:236px;
	position:absolute;
	left:20px;
	top:18px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
#e0_52 { 
	background-color:rgba(126.00000008940697, 211.00000262260437, 33.00000183284283, 0.3137255012989044);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:75px;
	height:78px;
	position:absolute;
	left:1158px;
	top:30px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_53 { 
	background-color:rgba(126.00000008940697, 211.00000262260437, 33.00000183284283, 0.3137255012989044);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:75px;
	height:78px;
	position:absolute;
	left:1265px;
	top:130px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_54 { 
	background-color:rgba(126.00000008940697, 211.00000262260437, 33.00000183284283, 0.3137255012989044);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:75px;
	height:78px;
	position:absolute;
	left:1265px;
	top:30px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_55 { 
	background-color:rgba(126.00000008940697, 211.00000262260437, 33.00000183284283, 0.3137255012989044);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:75px;
	height:78px;
	position:absolute;
	left:1158px;
	top:130px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#e0_56 { 
	background-color:rgba(248.0000004172325, 231.00000143051147, 28.000000230968, 1);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:71.32923889160156px;
	height:67.838134765625px;
	position:absolute;
	left:1158.1646728515625px;
	top:35px;
}
#Vidéo1 { 
	width:245px;
	height:137.8125px;
	position:absolute;
	left:222px;
	top:100px;
}
#Vidéo2 { 
	width:245px;
	height:137.80999755859375px;
	position:absolute;
	left:748px;
	top:100px;
}
#e0_59 { 
	background-color:rgba(231.00000143051147, 14.000000115484, 14.000000115484, 1);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:75px;
	height:62px;
	position:absolute;
	left:1265px;
	top:134px;
}
#e0_60 { 
	width:410px;
	height:150px;
	position:absolute;
	left:63px;
	top:793px;
	background-image:url(images/esans_titre_50_e1610628911296.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e0_61 { 
	width:390px;
	height:347px;
	position:absolute;
	left:1050px;
	top:571px;
	background-image:url(images/ecapture_d_e_cran_2021_03_03_a__12_30_01.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e0_62 { 
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:968px;
}
#ei0_62_0_91 { 
	width:1440px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
}
#ei0_62_0_92 { 
	background-color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	border:1px solid rgba(151.00000619888306, 151.00000619888306, 151.00000619888306, 1);
	width:1440px;
	height:57px;
	position:absolute;
	left:-4.547473508864641e-13px;
	top:0px;
}
#ei0_62_0_93 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:29px;
	position:absolute;
	left:5px;
	top:8px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#e0_63 { 
	width:1091px;
	height:232px;
	position:absolute;
	left:33px;
	top:550px;
}
#e0_64 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	background-color:rgba(255, 255, 255, 1);
	border:4px solid rgba(0, 0, 255, 1);
	width:1091px;
	height:232px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
#Vidéo3 { 
	width:auto;
	height:80px;
	position:absolute;
	left:222px;
	top:75px;
}
#Vidéo4 { 
	width:auto;
	height:80px;
	position:absolute;
	left:748px;
	top:75px;
}


#e0_69 { 
	color:rgba(0, 0, 255, 1);
	width:709px;
	height:140px;
	position:absolute;
	left:23px;
	top:21px;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
#e0_70 { 
	width:186px;
	height:154px;
	position:absolute;
	left:1216px;
	top:51px;
}
#e0_71 { 
	color:rgba(0, 0, 255, 1);
	width:auto;
	height:25px;
	position:absolute;
	left:85px;
	top:36px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
#e0_71 a{ 
	color:rgba(0, 0, 255, 1);
	width:auto;
	height:35px;
	position:absolute;
	top:36px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	text-decoration:none;
}
#e0_71 a:hover{ 
	color:rgba(255, 167.00000524520874, 108.00000116229057, 1);
	width:auto;
	height:25px;
	position:absolute;
	top:36px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	text-decoration:none;
}
#e0_72 { 
	box-shadow:3px 3px 4px rgba(0, 0, 0, 0.501960813999176);
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	border:2px solid rgba(155.00000596046448, 155.00000596046448, 155.00000596046448, 1);
	width:68px;
	height:69px;
	position:absolute;
	left:0px;
	top:1px;
}
#e0_73 { 
	color:rgba(0, 0, 255, 1);
	width:50px;
	height:154px;
	position:absolute;
	left:9px;
	top:0px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
#e0_74 { 
	width:75px;
	height:107px;
	position:absolute;
	left:1132px;
	top:55px;
	background-image:url(images/ecapture_d_e_cran_2021_03_07_a__12_15_37.png);
	background-repeat:no-repeat;
	background-size:cover;
}
